body{
    background-color: rgb(58, 57, 57);
}
#name{
    color: white;
    background-color: gray;
    text-align:center;
    padding: 15px;
}
#links{
    color: white;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 1px;
    text-align: center;
    background-attachment: fixed;

}
#myimage{
    align-items: end;
}
#abt{
    color: rgb(249, 247, 247);
    padding: 15px;
}
#tech,#nontech,#pro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 100;
    font-display: auto;
    color: rgb(249, 247, 247);
    padding: 15px;

}
#ts{
    padding: 15px;
    position: sticky;
    left:500px;
}
span.badge.rounded-pill.bg-dark{
    font-size: 18px;
    align-items: center;
    margin-left: 15px;
    margin-right: 150x;
    padding: 15px;
    position:relative;
    overflow: auto;
}
a:link{
    color: blue;
}
a:visited{
    color: green;
}
a:hover{
    text-decoration: none;
    color:yellow;
    font-size: 15px;
    background-color: black;
}
a:active{
    color: black;
}
div.card{
    display: inline-block;
    margin:15px;
    border:1px solid black;
    width:fit-content;
    height: fit-content;
    overflow: auto;
}
.card-img-top{
    height: 150px;
    width: 240px;
}
div.card-body{
    width:200px;
    height: 213.6px;
    padding-right: 5px;
}
#foot{
    background-color: aquamarine;
}
#projectssss{
    height: 600px;
    overflow: auto;
    margin-left: 20%;
}
.skills{
    position: relative;
    left: 200px;
}
.card{
    margin: auto;
}
span.badge.rounded-pill.bg-dark:hover{
    font-size: 30px;
    color: rgb(161, 195, 230);
    background-color: white;
}
.card:hover{
    width:25px;
}
